@import url('https://fonts.googleapis.com/css2?family=Radio+Canada');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

div {
    border: solid 2px aqua;
}

header {
    border: solid #ff0000;
    margin: auto;
    height: 50px;
    background-color: #27742d;
}

.header_links {
    vertical-align: middle;
    margin-top: 13.5px;
    float: right;
    font-size: 18px;
}

.header_links a {
    text-decoration: none;
    color: #fff;
    padding: 0.3rem;
}

.container {
    
}

.href:hover {
    color: #fc0;
    transition: 300ms;
}

.contact {
    padding: 15px;
    background-color: #ffd700;
    border-radius: 18px;
    transition: 300ms;
}

.contact:hover {
    padding-left: 15px;
    padding-right: 15px;
    transition: 300ms;
}

.ftitle {
    font-size: 3rem;
    animation: rotation 2s infinite linear;
    margin: 10% 0 0 10%;
    width: fit-content;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 800;
}

.ftitle h2 {
    font-size: 2.5rem;
    text-align: left;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 800;
}