@import url('https://fonts.googleapis.com/css2?family=Radio+Canada');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


header {
    margin: auto;
    height: 50px;
    background-color: #74276e;
    opacity: 50;
    font-weight: 800;
}

.header_links {
    vertical-align: middle;
    margin-top: 13.5px;
    float: right;
    font-size: 18px;
}

.header_links .href {
    text-decoration: none;
    color: #fff;
    padding: 0.3rem;
}

.logo {
    margin-left: 15px;
}

.container {
    width: 100%;
    height: 100%;
    background: rgb(249, 243, 242);
}

.href:hover {
    color: #fc0;
    transition: 300ms;
}

.contact {
    padding: 15px;
    margin-right: 15px;
    color: #000;
    padding: 0.3rem;
    text-decoration: none;
    background-color: #ffd700;
    border-radius: 6px;
    transition: 300ms;
}

.contact:hover {
    padding-left: 15px;
    padding-right: 15px;
    transition: 300ms;
}

.banner {
    background-image: url(img/mcBackground.webp);
    background-size: cover;
    padding-top: 7vw;
    padding-bottom: 7vw;
}

.ftitle {
    margin-left: 10%;
    width: fit-content;
    height: 100%;
    color: #000;
    
}

.ftitle h1 {
    font-size: 4vw;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 800;
}

.ftitle h2 {
    font-size: 2.6vw;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 800;
}

.news_grid {
    margin: 2vw 0 0 2vw;
    display: flex;
    width: fit-content;
}

.grid {
    margin: 1vw;
    min-width: 13vw;
    min-height: 17vw;
    padding: 8px;
    transition: 300ms;
    font-weight: 800;
}

.grid:hover {
    color: #fff;
    transition: 300ms;
}

@media screen and (max-width: 500px) {
    .news_grid {
        display: block;
        width: fit-content;
        margin: auto;
    }

    .grid {
        margin-top: 5vw;
    }
}

.button {
    display: flex;
    margin-top: 10vw;
    padding: 15px;
    width: fit-content;
    text-decoration: none;
    color: #fff;
    background-color: #ffd700;
    border-radius: 6px;
    transition: 300ms;
}

.button:hover {
    transition: 300ms;
    color: #fff;
}


footer{
    background-color: #272727;
    text-align: center;
    padding-top: 30px;
    margin-top: auto;
}

footer li{
    list-style: none;
    margin: 10px;
    display: inline-block;
}

.menu a{
    color: #ffffff;
    text-transform: capitalize;
}
.menu a:hover{
    color: #27742d;
    transition: 0.5s;
}

.footer-copyright{
    background-color:#27742d;
    color: #ffffff;
    padding: 15px;
    margin-top: 30px;
}

.footer-copyright p {
    margin-bottom: 0px;
}

.bg1 {
    background-image: url(img/grbg1.webp);
    background-position: right bottom;
}

.bg2 {
    background-image: url(img/grbg2.webp);
    background-position: right bottom;
}

.bg3 {
    background-image: url(img/grbg1.webp);
}

.bg4 {
    background-image: url(img/grbg2.webp);
}

.wrapper {
	width: 100%;
    height: 100%;
	background-color: #4158D0;
	background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.dialog {
	width: 30%;
	position: absolute;
	margin-left: auto;
	margin-right: auto; 
	top: 30.0%;
	padding: 20px;
	left: 50%;
	transform: translate(-50%); 
	background-color: #fff;
	border-radius: 10px;
	border:none;
	margin:5px;
	margin-bottom:20px;
	color: #21303d;
}

.title {
	font-family: 'Radio Canada', sans-serif;
	font-size: 22px;
	text-align: center;
	padding: 5px;
	margin-bottom: 20px;
}

input {
	width: 80%;
	border-radius: 12px;
	margin: auto 15px;
	padding: 20px;
	left: 50%; /* à 50%/50% du parent référent */
	margin: auto;
	border: none;
    transition: 800ms;
	border-bottom: 2px solid #58636c;
	outline: none;
	font-family: 'Radio Canada', sans-serif;
	color: #21303d;
	background-color: #f2f2f2;
	text-align: left;
	display:flex;
	justify-content: center;
}

input:hover {
	width: 90%;
	border-bottom: 2px solid #4b7da7;
	border-radius: 36px;
	transition: 300ms;
	transition-duration: 300ms;
}

input:focus {
	width: 100%;
	border: 2px solid #4b7da7;
	border-radius: 36px;
	transition: 300ms;
	transition-duration: 300ms;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgba(84,97,105,255);
	font-family: 'Radio Canada', sans-serif;
	font-weight: 200;
	opacity: 1; /* Firefox */
}

.radio-toolbar input[type="radio"] {
	opacity: 0;
	position: absolute;
	width: 36%;
}

.radio-toolbar label {
	display: inline-block;
	margin-top: 5px;
    background-color: #f2f2f2;
    padding: 10px 20px;
    font-family: 'Radio Canada', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #21303d;
    border: none;
	border-radius: 12px;
    transition: 300ms;
	width: 36%;
}

.radio-toolbar input[type="radio"]:checked + label {
	border-bottom: 2px solid rgb(46, 187, 205);
	transition: 300ms;
	width: 36%;
}

.radio-toolbar label:hover {
	background-color: rgb(187, 187, 187);
	width: 36%;
	border-radius: 18px;
	transition: 300ms;
}

button {
	display: block;
	margin-top: 15px;
    transition: 800ms;
	background-color: #4569c6;
	outline: none;
	border-radius: 12px;
	color: #FFFFFF;
	height: 50px;
	width: 100%;
}
button:hover {
	transition: 300ms;
	border-radius: 36px;
}

.h1 {
	display: block;
	margin-top: 5px;
	margin-right: 5px;
	padding: 10px;
	color: #ffffff;
	width: 93%;
	text-align: center;
}

.range-wrap {
	position: relative;
	margin: 0 auto 3rem;
}

.range {
	width: 100%;
}

.bubble {
	color: #ffffff;
	padding: 4px 12px;
	position: absolute;
	border-radius: 4px;
	left: 50%;
	transform: translateX(-50%);
}


.bubble::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 2px;
	color: black;
	top: -1px;
	left: 50%;
}
